$primary-colour: #FBAB7E;
html {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: $primary-colour;
  background: linear-gradient(180deg, $primary-colour 0%, rgb(241, 204, 162) 10%, rgba(255, 250, 240, 1) 25%);
  height: 100%;
  margin: 0 auto;

  width: 95%;
  display: flex;
  flex-direction: column;
}

h1, h2, p {
  &.capitalised {
    text-transform: capitalize;
  }

  &.bold {
    font-weight: bold;
  }
}

.default {
  color: darkslategray;
}

.white {
  color: floralwhite;
}

.box {
  width: 15rem;
  height: 10rem;
}

.bordered {
  border-radius: 5px;
  box-shadow: 0 2px 5px 1px lightslategray;
  padding: 1rem 1rem 1rem 1rem;

  max-width: 100%;
  max-height: 100%;
}

figure > img {
  width: 100%;
  min-height: 100%;
}

figure > figcaption {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 1%;
  width: 100%;

  ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
  }

  li {
    display: inline;
  }

  a {
    color: floralwhite;
    text-decoration: none;

    &:hover {
      font-weight: bold;
    }
  }

  .a--underscore {
    text-decoration: underline;
  }
}

main {
  .container {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-around;
    margin: 3rem 0 3rem 0;
  }

  .registration {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  input {
    border-radius: 5px;
    box-shadow: 0 2px 5px 1px #eeeeee;
    border-color: grey;

    &[type=submit] {
      background-color: $primary-colour;
      color: floralwhite;
      border-color: $primary-colour;

      &:hover {
        background-color: #ffaf7b;
      }
    }
  }

  .solid-background {
    padding: 0 3rem 0 3rem;
    background-color: $primary-colour;
  }

  .icon-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-family: "Noto Sans", sans-serif;

    i {
      font-size: 2rem;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

footer {
  background: floralwhite;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 3rem 5px 3rem;

  color: dimgrey;

  #footer__copyrights:before {
    content: "\A9";
  }

  #icons {
    font-size: 2rem;
  }

  .footer {
    flex-shrink: 0;
  }
}